$color-navbar: rgb(0, 88, 22);
$color-showcase: rgb(0, 128, 32);
$color-footer: rgb(0, 128, 32);
$background-image: linear-gradient(rgb(255, 255, 255), rgb(87, 156, 96));
$fuente-principal: "lato", sans-serif;
$color-icons: rgb(255, 255, 255);
$color-title:black;
$color-text: black;
$color-stat: #cccccc;
$color-statsobrenosotrosBorder: rgb(0, 88, 22);
$color-statsobrenosotrosBG: rgb(0, 128, 32);